<form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()" appEnterTab>

  <div class="container mt-5 mb-5">
    <div class="card shadow-lg form-card">

      <!-- Header -->
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">பர்சேஸ்</h5>

        <button type="button" class="btn btn-light btn-sm" (click)="enableEdit()" [disabled]="purchaseForm.invalid">
          <i class="bi bi-pencil-square"></i> திருத்து
        </button>
      </div>

      <div class="card-body">

        <!-- Purchase Details -->
        <h6 class="section-title">பர்சேஸ் விபரம்</h6>

        <div class="row mb-3">

          <label class="col-md-2">சப்ளையர்:</label>

          <div class="col-md-4 position-relative">
            <div class="input-group">

              <!-- INPUT -->
              <input type="text" class="form-control" formControlName="supplier" (focus)="openSupplierDropdown()"
                (input)="filterSuppliers()"
                [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('supplier')?.disabled}" />

              <!-- DROPDOWN ICON BUTTON -->
              <button class="btn btn-outline-secondary" type="button" (click)="openSupplierDropdown()">
                <i class="bi bi-caret-down-fill"></i>
              </button>
            </div>

            <!-- DROPDOWN LIST -->
            <ul *ngIf="showDropdown && filteredSuppliers.length" class="list-group position-absolute w-100"
              style="z-index: 1000; max-height: 150px; overflow-y: auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let s of filteredSuppliers"
                (click)="selectSupplier(s)">
                {{ s }}
              </li>
            </ul>
          </div>

          <label class="col-md-2">எண்ணம்:</label>
          <div class="col-md-4">
            <input type="number" class="form-control" formControlName="quantity">
          </div>
        </div>


        <hr>

        <!-- Product Info -->
        <h6 class="section-title">பொருள் விபரம்</h6>

        <div class="row mb-3">
          <label class="col-md-2">போல்டர் பெயர்:</label>

          <div class="col-md-4 position-relative">
            <div class="input-group">

              <input type="text" class="form-control" formControlName="folderName" (focus)="openFolderDropdown()"
                (input)="onFolderNameInput($event)"
                [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('folderName')?.disabled}" />

              <button class="btn btn-outline-secondary" type="button" (click)="openFolderDropdown()">
                <i class="bi bi-caret-down-fill"></i>
              </button>

            </div>

            <ul *ngIf="showFolderDropdown && filteredFolders.length" class="list-group position-absolute w-100"
              style="z-index:1000; max-height:150px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let f of filteredFolders"
                (click)="selectFolder(f)">
                {{ f }}
              </li>
            </ul>
          </div>

          <label class="col-md-2">குறைந்த அளவு:</label>
          <div class="col-md-4">
            <input type="number" class="form-control" formControlName="minQty"
              [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('minQty')?.disabled}">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-2">பொருள்:</label>

          <div class="col-md-4 position-relative">
            <div class="input-group">

              <input type="text" class="form-control" formControlName="product" (focus)="openProductDropdown()"
                (input)="filterProducts()"
                [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('product')?.disabled}" />

              <button class="btn btn-outline-secondary" type="button" (click)="openProductDropdown()">
                <i class="bi bi-caret-down-fill"></i>
              </button>

            </div>

            <ul *ngIf="showProductDropdown && filteredProducts.length" class="list-group position-absolute w-100"
              style="z-index:1000; max-height:150px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let p of filteredProducts"
                (click)="selectProduct(p)">
                {{ p }}
              </li>
            </ul>
          </div>

          <label class="col-md-2">பொருள் விபரம்:</label>

          <div class="col-md-4 position-relative">
            <div class="input-group">

              <input type="text" class="form-control" formControlName="productDesc" (focus)="openProductDescDropdown()"
                (input)="filterProductDesc()"
                [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('productDesc')?.disabled}" />

              <button class="btn btn-outline-secondary" type="button" (click)="openProductDescDropdown()">
                <i class="bi bi-caret-down-fill"></i>
              </button>

            </div>

            <ul *ngIf="showProductDescDropdown && filteredProductDesc.length" class="list-group position-absolute w-100"
              style="z-index:1000; max-height:150px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let d of filteredProductDesc"
                (click)="selectProductDesc(d)">
                {{ d }}
              </li>
            </ul>
          </div>
        </div>


        <div class="row mb-3">
          <label class="col-md-2">பர்சேஸ் தேதி:</label>
          <div class="col-md-4">
            <input type="date" class="form-control" formControlName="purchaseDate">
          </div>

          <label class="col-md-2">கடைசி தேதி:</label>
          <div class="col-md-4">
            <input type="date" class="form-control" formControlName="expiryDate">
          </div>
        </div>

        <hr>

        <!-- Pricing -->
        <h6 class="section-title">விலை விபரம்</h6>

        <div class="row mb-3">
          <label class="col-md-2">விலை:</label>
          <div class="col-md-2">
            <input type="number" class="form-control" formControlName="price">
          </div>

          <label class="col-md-2">லாபம்:</label>
          <div class="col-md-2">
            <input type="number" class="form-control" formControlName="profit">
          </div>

          <label class="col-md-2">விற்பனை விலை:</label>
          <div class="col-md-2">
            <input type="number" class="form-control" formControlName="sellingPrice">
          </div>
        </div>


        <div class="row mb-3">
          <label class="col-md-2">போல்டர் எண்:</label>

          <div class="col-md-2 position-relative">
            <div class="input-group">

              <input type="text" class="form-control" formControlName="folderNo" (focus)="openFolderNoDropdown()"
                (input)="onFolderNoInput($event)"
                [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('folderNo')?.disabled}" />

              <button class="btn btn-outline-secondary" type="button" (click)="openFolderNoDropdown()">
                <i class="bi bi-caret-down-fill"></i>
              </button>

            </div>

            <!-- DROPDOWN -->
            <ul *ngIf="showFolderNoDropdown && filteredFolderNos.length" class="list-group position-absolute w-100"
              style="z-index:1000; max-height:150px; overflow-y:auto;">
              <li class="list-group-item list-group-item-action" *ngFor="let f of filteredFolderNos"
                (click)="selectFolderNo(f)">
                {{ f }}
              </li>
            </ul>
          </div>

          <label class="col-md-2">எம்.ஆர்.பி:</label>
          <div class="col-md-2">
            <input type="number" class="form-control" formControlName="mrp">
          </div>

          <label class="col-md-2">வரி(%):</label>
          <div class="col-md-2">
            <input type="number" class="form-control" formControlName="tax"
              [ngClass]="{'disabled-bg': isEditMode && purchaseForm.get('tax')?.disabled}">
          </div>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-end mt-4">
          <button type="submit" class="btn btn-success" [disabled]="purchaseForm.invalid || purchaseForm.disabled">

            <i class="bi" [ngClass]="isEditMode ? 'bi-arrow-repeat' : 'bi-save'"></i>

            {{ isEditMode ? 'புதுப்பிக்க' : 'சேமி' }}

          </button>
        </div>

      </div>
    </div>
  </div>

</form>